@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// Media queries
/*
0-600 phone
600-900 tablet
900-1200 landscape tablet
1200-1800 normal desktop
1800 big screen

1em = 16px
*/

@mixin respond($breakpoint) {
    @if $breakpoint ==phone {
        @media only screen and (max-width:37.5em) {
            @content
        }

        ;
    }

    @if $breakpoint ==tab-port {
        @media only screen and (max-width:56.25em) {
            @content
        }

        ;
    }

    @if $breakpoint ==tab-land {
        @media only screen and (max-width:75em) {
            @content
        }

        ;
    }

    @if $breakpoint ==big {
        @media only screen and (min-width:112.5em) {
            @content
        }

        ;
    }
}