*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  // should from big to small
  @include respond(big) {
    font-size: 75%; // 1 rem = 12px, 12/16 = 75%
  }

  @include respond(tab-land) {
    font-size: 56.25%; // 1 rem = 9px, 9/16 = 56.25%
  }

  @include respond(tab-port) {
    font-size: 50%; // 1 rem = 8px, 8/16 = 50%
  }

  padding: 3rem;
}